<html>

<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/themify-icons.css">
    <link rel="stylesheet" href="css/nice-select.css">
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/gijgo.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/slicknav.css">
    <link rel="stylesheet" href="css/style.css">

    <script>
        var module = angular.module("mymodule", []);
        var controller = module.controller("mycontroller", function ($scope, $http) {
            $scope.jsonAllRecords = [];
            $scope.doFetchAll = function () {
                let path = "/db-profile-showall";
                $http.get(path).then(doneFx, failFx);
                function doneFx(response) {
                    //alert(JSON.stringify(response.data));
                    $scope.jsonAllRecords = response.data;
                }
                function failFx(response) {
                    alert(response.data);
                }
            }
            $scope.blockUser = function (emailid) {
                $http.get("/block-user?emailid=" + emailid).then(doneFx, failFx);
                function doneFx(response) {
                    $scope.doFetchAll();
                }
                function failFx(response) {
                    alert(response.data);
                }
            };
            //----------------------------------------

            $scope.activateUser = function (emailid) {
                $http.get("/activate-user?emailid=" + emailid).then(doneFx, failFx);
                function doneFx(response) {
                    $scope.doFetchAll();
                }
                function failFx(response) {
                    alert(response.data);
                }
            }
        })

    </script>
</head>

<body ng-app="mymodule" ng-controller="mycontroller">

    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-8">
                            <div class="short_contact_list">
                                <ul>
                                    <li><a href="#">+91 7888344282</a></li>

                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 ">
                            <div class="social_media_links">
                                <a href="#">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-google"></i>
                                </a>
                                <a href="#">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="pet.html" id="navigation">home</a></li>
                                        <li><a href="dash-admin.html" id="navigation">dashboard</a></li>

                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcam_text text-center">
                        <h3>Users Manager</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <center>
                <input type="button" value="Show All Records" class="boxed-btn4" ng-click="doFetchAll();"
                    style="margin-top:20px;">
            </center>
        </div>

        <center>
            <table width="800" border="1" class="table table-dark table-striped mt-3 col-md-12">
                <tr align="center">
                    <th>Sr.No</th>
                    <th>Email</th>
                    <th>Utype</th>
                    <th>DOS</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="obj in jsonAllRecords" align="center">
                    <td>
                        {{$index+1}}
                    </td>
                    <td>
                        {{obj.emailid}}
                    </td>
                    <td>
                        {{obj.utype}}
                    </td>
                    <td>
                        {{obj.dos}}
                    </td>
                    <td>
                        {{obj.status}}
                    </td>
                    <td>
                        <div>
                            <input type="button" value="Block" class="btn btn-danger col-md-4 ml-auto"
                                ng-click="blockUser(obj.emailid);">
                            <input type="button" value="Unblock" class="btn btn-success col-md-4 ml-auto"
                                ng-click="activateUser(obj.emailid);">
                        </div>
                    </td>
                </tr>
            </table>
    </div>

    <div class="extraspace" style="margin-top: 100px;"></div>

    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Contact Us
                            </h3>
                            <ul class="address_line">
                                <li>+91 78883 44282</li>
                                <li><a href="#">akashdhaliwal715@gmail.Com</a></li>
                                <li>Phulewala,Bathinda</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Our Services
                            </h3>
                            <ul class="links">
                                <li><a href="#">Pet Insurance</a></li>
                                <li><a href="#">Pet surgeries </a></li>
                                <li><a href="#">Pet Adoption</a></li>
                                <li><a href="#">Dog Insurance</a></li>
                                <li><a href="#">Dog Insurance</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3  col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Quick Link
                            </h3>
                            <ul class="links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="#">
                                    <img src="img/logo.png" alt="">
                                </a>

                                <a class="img mr-4 rounded">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3447.8807337916064!2d74.95013941511905!3d30.21195128182175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391732a4f07278a9%3A0x4a0d6293513f98ce!2sBanglore%20Computer%20Education!5e0!3m2!1sen!2sin!4v1673849575769!5m2!1sen!2sin";
                                        width="200" height="130" style="border:0;margin-top: 40px;" allowfullscreen=""
                                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="bordered_1px"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                        <p>
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="ti-heart" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Akash</a>

                        </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    </center>
</body>

</html>